@import '../_vars.sass'

.calendar
  width: 50vw
  display: table
  margin: 10px
  padding: 10px
  border-collapse: collapse
  table-layout: fixed

.calendar__room
  width: 100%

.calendar__day
  padding: 15px
  border: 2px solid $dark-viol
  width: 170px
  background-color: #FFDF80
  color: $dark-viol
