body {
  background-color: #f0f0f0;
  overflow-x: hidden;
  color: #222;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.App-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.App-description {
  font-size: 20px;
  font-weight: bold;
  padding: 0px 100px;
}

.App-inputs {
  display: flex;
  justify-content: center;
  border: none;
  flex-direction: row;
  width: 100vw;
  flex-wrap: wrap;
}

.App-answer {
  font-family: inherit;
  font-weight: bold;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px;
}

.App-btn {
  padding: 10px 20px;
  margin: 10px;
  border-radius: 5px;
  border: 2px solid #222;
  cursor: pointer;
  transition: all 0.4s ease;
  font-size: 18px;
  font-weight: bold;
  color: #222;
}

.App-btn:hover {
  background-color: lightskyblue;
  color:black;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
